<div class="editor-row">
	<div class="section gf-form-group">
    <h5 class="section-heading">Detangle</h5>
    <gf-form-switch class="gf-form" label="Coupling & Cohesion" label-class="width-12" checked="ctrl.panel.pconfig.detangle.coupling" on-change="ctrl.refresh()">
    </gf-form-switch>
      <gf-form-switch class="gf-form" label="Soft Filter" label-class="width-12"
                      checked="ctrl.panel.pconfig.detangle.softFilter" on-change="ctrl.refresh()">
      </gf-form-switch>
      <div class="gf-form">
        <label class="gf-form-label width-12">Quality Decision Method</label>
        <div class="gf-form-select-wrapper max-width-15">
          <select class="gf-form-input" ng-model="ctrl.panel.pconfig.detangle.qualityDecision"
                  ng-options="item.value as item.text for item in ctrl.qualityDecisionMethods" ng-change="ctrl.refresh()"> </select>
        </div>
      </div>
    <div class="gf-form">
      <label class="gf-form-label width-12">Limit</label>
      <input type="number" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.limit" placeholder="unlimited" ng-change="ctrl.refresh()" ng-model-onblur bs-tooltip="'Number of Issues on the graph'" data-placement="right">
    </div>
	</div>
  <div class="section gf-form-group">
    <h5 class="section-heading">Sort</h5>
    <div class="gf-form">
      <label class="gf-form-label width-7">Order</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select class="gf-form-input" ng-model="ctrl.panel.pconfig.detangle.sortingOrder" ng-options="item.value as item.text for item in ctrl.sortingOrder" ng-change="ctrl.refresh()"> </select>
      </div>
    </div>
  </div>
  <div class="section gf-form-group">
    <h5 class="section-heading">Data</h5>
    <div class="gf-form">
      <label class="gf-form-label width-10">Target</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select class="gf-form-input" ng-model="ctrl.panel.pconfig.detangle.target" ng-options="item.value as item.text for item in ctrl.targetSelections" ng-change="ctrl.refresh()"> </select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-10">Cohesion Method</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select class="gf-form-input" ng-model="ctrl.panel.pconfig.detangle.cohesionCalculationMethod"
                ng-options="item.value as item.text for item in ctrl.cohesionCalculationMethods" ng-change="ctrl.refresh()"> </select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-10">{{
        (ctrl.panel.pconfig.detangle.isAuthorDashboard ? 'Min Committers per File' : 'Min Issues per File')}}</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.minIssuesPerFile"
             placeholder="no limit" ng-change="ctrl.refresh()"
             ng-model-onblur data-placement="right">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-10">{{
        (ctrl.panel.pconfig.detangle.isAuthorDashboard ? 'Min Files per Committer' : 'Min Files per Issue')}}</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.minFilesPerIssue"
             placeholder="no limit" ng-change="ctrl.refresh()"
             ng-model-onblur data-placement="right">
    </div>
    <div class="gf-form" >
      <label class="gf-form-label width-10">File Grouping By</label>
      <input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.pconfig.detangle.fileGroup"
             ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
    <gf-form-switch class="gf-form" label="Folder Level" label-class="width-10"
                    checked="ctrl.panel.pconfig.detangle.applyFolderLevel" on-change="ctrl.refresh()">
    </gf-form-switch>
  </div>
  <div class="section gf-form-group">
    <h5 class="section-heading">Filter</h5>
    <div class="gf-form">
      <label class="gf-form-label width-12">{{ctrl.panel.pconfig.detangle.isAuthorDashboard ?
        'Committer Source Set' : 'Source Type'}}</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.sourceType" ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-12">{{ctrl.panel.pconfig.detangle.isAuthorDashboard ?
        'Committer Target Set' : 'Target Type'}}</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.targetType" ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
    <div class="gf-form" ng-show="!ctrl.panel.pconfig.detangle.isAuthorDashboard">
      <label class="gf-form-label width-12">Issue Title</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.issueTitle" ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-12">File Exclude Filter</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.fileExcludeFilter" ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-12">Metric Range</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.metricRange" ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
    <div class="gf-form" ng-show="ctrl.panel.pconfig.detangle.target === 'file'">
      <label class="gf-form-label width-12" >Local Module Filter</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.localFilter" ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
    <div class="gf-form" ng-show="!ctrl.panel.pconfig.detangle.isAuthorDashboard">
      <label class="gf-form-label width-12">Author</label>
      <input type="text" class="gf-form-input max-width-8" ng-model="ctrl.panel.pconfig.detangle.author" ng-change="ctrl.refresh()" ng-model-onblur>
    </div>
  </div>
</div>
